@import 'variables.scss';

.main-menu{
    background-color: $bg-color-1;
    .router-link-exact-active{
        background-color: #f8690d;
        text-shadow: 0 1px 0 white;
    }
    a{
        display:block;
        padding: .5em;
        text-decoration: none;
        color: white;
        &:hover{
            background-color: #0a4f7f;
            border-color:#0a4f7f ;
        }
    }
    @media (min-width: 600px) {
        &{
            display: flex;
            a{
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: auto;

                text-align: center;
            }
        }
    }
}